---
outputDirectory: portfolio # The directory where the generated site will be placed
domain: mydomain.com # The domain where the site will be hosted
siteTitle: My Portfolio # The title of the site, used in the <title> tag
siteDescription: My photography portfolio # A description of the site, used in the <meta> tag
galleries:
  - name: Gallery 1 # The name of the gallery
    path: gallery1 # The name of the gallery directory within images/
    description: Gallery 1 description # A description of the gallery, used in the <meta> tag
    class: half-width # The class of the gallery, used to determine the layout of the gallery on the home page. Can be half-width or full-width
  - name: Gallery 2
    path: gallery2
    description: Gallery 2 description
    class: half-width
  - name: Gallery 3
    path: gallery
    description: Gallery 3 description
    class: full-width
footerLinks: # Links to be displayed in the footer
  - name: Email
    url: mailto:me@mydomain.com
  - name: Instagram
    url: https://instagram.com/me/
cameraModelMapping: # A mapping of camera model exif names to human-readable names
  - model: exif-model-name
    name: Friendly Camera Name
