<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{.Metadata.Title}}</title>
	<meta name="description" content="{{.Metadata.Description}}" />
	<link rel="canonical" href="https://{{.Metadata.Domain}}/galleries/{{.Name}}/" />
	<link rel="stylesheet" href="../../styles.css" />
	<link rel="icon" href="https://{{.Metadata.Domain}}/favicon.ico" />
	<meta name="theme-color" content="#fafafa">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="../../spotlight.bundle.js"></script>
</head>

<body>
<header>
	<h1><a href="../../">{{.Metadata.Title}}</a></h1>
</header>
<div class="photo-gallery spotlight-group" data-animation="slide" data-theme="white" data-fullscreen="false"
	 data-control="page,close,prev,next">
	<h2>{{.Name}}</h2>
	<div class="photo-gallery-images">
		{{range .Images}}
		<a class="spotlight" href="{{.Image}}" data-description="">
			<picture>
				<source srcset="{{.ThumbnailSmall}}" media="(max-width: 775px)">
				<img src="{{.Thumbnail}}" loading="lazy" alt="" />
			</picture>
		</a>
		{{end}}
	</div>
</div>
</body>